%wrapper
  %div.chat-side
    %div.side-header
      %div.side-header__box
        %p.side-header__box__user-name
          = current_user.name
        %ul.side-header__box__menu
          %li.side-header__box__menu__newgroup
            = link_to new_group_path do
              %i.far.fa-edit
          %li.side-header__box__menu__edit-user
            = link_to edit_user_path(current_user) do
              %i.fas.fa-cog
    %div.groups
      - current_user.groups.each do |group|
        %div.group
          = link_to group_messages_path(group) do
            %p.group__group-name
              = group.name
            %p.group__latest_message
              = group.show_last_message